{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>NOTAS</title>
</head>
<body>
        <header>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <h1>NOTAS</h1>
            <nav>
                <ul>
                    <h3>opções:</h3>
                    {% if user.is_authenticated %}
                        <li>Bem-vindo, {{ user.username }}!</li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'cadastrar' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>Minhas Notas</h1>

            <!-- Verifica se o usuário está autenticado -->
            {% if user.is_authenticated %}
                <!-- Se o usuário tiver notas -->
                {% if user_notes %}
                    <ul>
                        {% for note in user_notes %}
                        <li><a href="{% url 'edit_note' note.id %}">{{ note.title }}</a></li>
                        {% endfor %}
                    </ul>
                <!-- Se não houver notas -->
                {% else %}
                    <p>Você ainda não tem notas.</p>
                {% endif %}
    
                <!-- Link para criar nota se o usuário estiver autenticado -->
                <a href="{% url 'note_lista' %}">Criar uma nova nota</a>
            
            <!-- Se o usuário não estiver autenticado -->
            {% else %}
                <p>Faça <a href="{% url 'login' %}">login</a> para criar e visualizar suas notas.</p>
            {% endif %}
        </main>
</body>
</html>